#home{
    width: 100%;
    .about{
        background-color: $colsec;
        margin-top: 4%;
        padding: 3% 4% 3% 4%;
        div{
            background-color: $colprim;
            color: $textprim;
            width: 70%;
            font-size: 21px;
            font-weight: 500;
            border-radius: 20px;
            padding: 3% 3% 3% 3%;
            @include respond(tab-port) {
                font-size: 16px;
            }
        }
    }
    .contact{
        background-color: $colsec;
        border-radius: 20px;
        margin: 3% 4% 3% 4%;
        color: $textsec;
        padding: 3% 3% 3% 3%;
        font-size: 23px;
        .formsubmit{
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: space-evenly;
            margin-bottom: 1%;
        }
        .fname{
            width: 70%;
            height: 35px;
            margin: 1% 0 1% 0;
        }
        .tname{
            width: 70%;
            height: 70px;
            margin: 1% 0 1% 0;
        }
        button{
            width: 60%;
            height: 35px;
            margin: 1% 5% 1% 0;
            color: $colsec;
            font-size: 20px;
        }
        button:hover {
            color: rgb(51, 255, 102);
            font-weight: 600;
            border: 1px solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
            outline-offset: 15px;
            text-shadow: 1px 1px 2px #427388;
        }
        img{
            width: 30px;
        }
    }
    .social{
        display: flex;
        background-color: $colsec;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
        padding: 4% 0 4% 0;
        img{
            width: 80%;
            padding: 3% 3% 3% 3%;
            margin: 4% 6% 4% 6%;
        }
    }
    @include respond(tab-port) {
        .about div {
            width: auto;
        }
        .contact {
            font-size: 16px;
            line-height: 10px;
            .fname{
                height: 25px;
            }
            .tname{
                height: 60px;
                margin: 0;
            }
            button{
                height: auto;
                font-size: 18px;
            }
        }
        .social img {
            width: 60%;
        }
    }
}