#portfolio{
    .blue{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $colsec;
        justify-content: space-around;
        align-items: center;
        color: $textsec;
        div{
            display: flex;
            flex-direction: column;
            width: 80%;
            background-color: $colprim;
            color: $textprim;
            margin: 0 4% 3% 4%;
            border-radius: 20px;
            padding: 2% 0 2% 0;
            align-content: center;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
            .detail{
                display: flex;
                flex-direction: row;
                font-weight: 450;
                font-size: 28px;
                .butto{
                    margin: 3% 0 0 0;
                }
                img{
                    border-radius: 20px;
                    width: 150%;
                }
            }
        }
        .expcontent{
            width: 91%;
            display: flex;
            display: -webkit-flex;
            align-items: flex-start;
            font-size: 25px;
            line-height: 150%;
            .point{
                background-color: $colsec;
            }
            .company{
                font-weight: bolder;
                margin:  0 0 0 8%;
            }
            .post{
                margin:  0 0 0 8%;
            }
            .tech{
                margin:  0 0 0 8%;
            }
        }
    }
    .skillwhite{
        display: flex;
        flex-direction: column;
        justify-content: center;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: $colsec;
            margin: 0 4% 3% 4%;
            border-radius: 20px;
            padding: 2% 0 2% 0;
            img{
                margin: 1% 6% 1% 6%;
                width: 10%;
            }
        }
    }

    @include respond(tab-port) {
        .blue div .detail{
            flex-direction: column-reverse;
            font-size: 20px;
            font-weight: normal;
            img{
                width: 100%;
            }
        }
        .blue .expcontent{
            font-size: 20px;
        }
    }
    @include respond(phone) {
        .blue div .detail{
            .protext{
                width: 110%;
            }
            font-size: 15px;
        }
        .blue .expcontent{
            font-size: 15px;
        }
    }
}