#portfolio{
    // Container wrapper
    .container {
        @include container();
    }
    
    .blue{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $textprim;
        padding: 3rem 0;
        
        > h1 {
            @include container();
            text-align: center;
            margin-bottom: 2rem;
        }
        
        div{
            display: flex;
            flex-direction: column;
            @include container($container-max-width-wide);
            color: $textprim;
            margin: 0 auto 2rem auto;
            padding: 2rem 0;
            align-content: center;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
            .detail{
                display: flex;
                flex-direction: row;
                font-weight: 450;
                font-size: 28px;
                .butto{
                    margin: 3% 0 0 0;
                }
                img{
                    border-radius: 20px;
                    width: 150%;
                }
            }
        }
        .expcontent{
            @include container();
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 20px;
            line-height: 1.8;
            padding: 2rem 0;
            
            .point{
                color: $colsec;
                margin-right: 0.5rem;
            }
            .company{
                font-weight: bolder;
                margin: 0 0 1rem 0;
            }
            .post{
                margin: 0 0 0.5rem 0;
            }
            .tech{
                margin: 1rem 0 0 0;
            }
        }
    }
    .skillwhite{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        
        > h1 {
            @include container();
            text-align: center;
            margin-bottom: 2rem;
        }
        
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @include container();
            padding: 2rem 0;
            gap: 1.5rem;
            
            img{
                width: 48px;
                height: 48px;
                transition: transform 0.2s ease;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    @include respond(tab-port) {
        .blue div .detail{
            flex-direction: column-reverse;
            font-size: 20px;
            font-weight: normal;
            img{
                width: 100%;
            }
        }
        .blue .expcontent{
            font-size: 20px;
        }
    }
    @include respond(phone) {
        .blue div .detail{
            .protext{
                width: 110%;
            }
            font-size: 15px;
        }
        .blue .expcontent{
            font-size: 15px;
        }
    }
}