#portfolio{
    h1{
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        @include respond(tab-port) {
            font-size: 28px;
        }
    }
    .hamburgerc{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $colprim;
        -webkit-box-shadow: inset 3px 3px 4px $colsec;
        -moz-box-shadow: inset 3px 3px 4px $colsec;
        box-shadow: inset 3px 3px 4px $colsec;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 90vh;
        transform: translate(-5%, -50%);
        z-index: 4;
    }
    .option-links{
        a{
            text-decoration: none;
        }
        list-style: none;
        position: fixed;
        width: 30%;
        right: 5%;
        bottom: 10%;
        left: auto;
        z-index: 3;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
        background-color: $colsec;
        color:rgb(0, 0, 0);
        flex-direction: column;
        clip-path: circle(5px at 95% 90%);
        -webkit-clip-path: circle(10px at 95% 90%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .option-links.open{
        clip-path: circle(500px at 95% 90%);
        -webkit-clip-path: circle(500px at 95% 90%);
        pointer-events: all;
    }
    .option-links li{
        opacity: 0;
    }
    .option-links li a {
        font-size: 25px;
        color: $textsec;
    }
    .option-links li a:hover{
        color: $textprim;
    }
    .option-links li:nth-child(1){
        transition:  all 0.5s ease 0.4s;
    }
    .option-links li:nth-child(2){
        transition:  all 0.5s ease 0.4s;
    }
    .option-links li:nth-child(3){
        transition:  all 0.5s ease 0.4s;
    }
    .option-links li:nth-child(4){
        transition:  all 0.5s ease 0.4s;
    }
    li.fade{
        opacity: 1;
    }
    #me{
        #meimage{
            width: 21%;
            margin: 2% 9% 6% 8%;
            @include respond(tab-land) {
                width: 35%;
                margin: 2% 4% 6% 3%;
            }
        }
        #name{
            width: 90%;
            margin: 4% 4% 2% 4%;
            @include respond(tab-land) {
                width: 70%;
                height: 30%;
            }
            @include respond(tab-port) {
                width:80%;
                height: 40%;
                margin: 7% 0 0 9%;
            }
        }
        justify-content: center;
        .box{
            background-color: $colprim;
            box-shadow: inset -2px -4px 21px -1px rgba(71, 87, 225, 0.25);
            display: flex;
            flex-direction: row;
            padding-bottom: 3%;
            padding-top: 3%;
            width: 90%;
            z-index: 2;
            .medetail{
                margin: 2% 1% 2% 6%;
                p{
                    margin-top: 1%;
                    padding: 0% 0% 2% 10%;
                    font-size: 30px;
                    font-weight:550;
                    @include respond(tab-land) {
                        font-size: 25px;
                    }
                    @include respond(phone) {
                        font-size: 20px;
                        margin-top: 0;
                        line-height: 90%;
                    }
                }
                @include respond(tab-land) {
                    width: 60%;
                    margin-left: 3%;
                }
                @include respond(tab-port) {
                    width:100%;
                }
            }
            @include respond(tab-port) {
                display: flex;
                justify-content: space-around;
                align-content: center;
                align-items: center;
                flex-direction: column-reverse;
            }
        }
        display: flex;
        flex-direction: row;
        svg{
            position: absolute;
            top: 13%;
            right: 0;
            z-index: 3;
            @include respond(tab-port) {
                z-index: 1;
                max-width: 80%;
                height: 30%;
            }
        }
        #one{
            width: 50%;
            z-index: 1;
            top: 66%;
            left: 0;
            @include respond(tab-port) {
                position: absolute;
                top:28%;
                height: 25%;
            }
        }
    }
    .blue{
        display: flex;
        flex-direction: column;
        background-color: $colsec;
        justify-content: space-around;
        align-items: center;
        color: $textsec;
        div{
            display: flex;
            flex-direction: column;
            width: 80%;
            background-color: $colprim;
            color: $textprim;
            margin: 0 4% 3% 4%;
            border-radius: 20px;
            padding: 2% 0 2% 0;
            align-content: center;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
            .detail{
                display: flex;
                flex-direction: row;
                font-weight: 450;
                font-size: 28px;
                img{
                    border-radius: 20px;
                    width: 150%;
                }
                @include respond(tab-port) {
                    flex-direction: column-reverse;
                    font-size: 20px;
                    font-weight: normal;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .skillwhite{
        display: flex;
        flex-direction: column;
        justify-content: center;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: $colsec;
            margin: 0 4% 3% 4%;
            border-radius: 20px;
            padding: 2% 0 2% 0;
            img{
                margin: 1% 6% 1% 6%;
                width: 10%;
            }
        }
    }
    @include respond(tab-port) {
        .hamburgerc{
            width: 40px;
            height: 40px;
            right: 50%;
        }
        .option-links{
            width: 41%;
            right: 33%;
            bottom: 10%;
            left: auto;
            display: flex;
            padding-top: 2%;
            padding-bottom: 3%;
            justify-content: space-evenly;
            flex-direction: column;
            align-content: space-around;
            align-items: center;
            justify-content: space-around;
            clip-path: circle(5px at 50% 100%);
            -webkit-clip-path: circle(5px at 50% 100%);
        }
        .option-links.open{
            clip-path: circle(100px at 50% 90%);
            -webkit-clip-path: circle(100px at 50% 90%);
            pointer-events: all;
        }
        .option-links li a {
            font-size: 15px;
        }
    }
}