#site{
    .social{
        display: flex;
        background-color: $colsec;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
        padding: 4% 0 4% 0;
        img{
            width: 80%;
            padding: 3% 3% 3% 3%;
            margin: 4% 6% 4% 6%;
        }
    }
    .sitemap{
        display: flex;
        flex-direction: row;
        padding: 5%  10%  10% 10%;
        justify-content: space-between;
        a{
           text-decoration: none;
           color: $textprim;
        }
        a:hover{
            color: $colsec;
        }
    }
}