.sitemap{
    display: flex;
    flex-direction: row;
    padding: 5%  10%  10% 10%;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: $textprim;
    }
    a:hover{
        color: $colsec;
    }
}
