.sitemap{
    display: flex;
    flex-direction: row;
    padding: 5%  10%  10% 10%;
    justify-content: space-between;
    .sitelaink{
        text-decoration: none;
        color: $textprim;
    }
    .sitelaink:hover{
        color: $colsec;
    }
}
